@model Project1.WebApp.Models.OrderViewModel

@{
    ViewData["Title"] = "PlaceOrder";
}

<h1>Place Order</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="PlaceOrder">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="dropdown">
                <input type='hidden' asp-for="CustomerId" value="model.CustomerId" />
                <div class="dropdown-content">
                    <select asp-for="StoreId">
                        @foreach (var s in Model.AllStores)
                        {
                            <option value="s.StoreId">@s.StoreId @s.City</option>
                        }
                    </select>
                    <div class="form-group">
                        <input type="submit" value="See Inventory" class="btn btn-primary" />
                    </div>
                </div>
            </div>
            <table>
                <tbody>
                    <tr>
                        @if (Model.Inventory != null)
                        {

                        @foreach (var i in Model.Inventory)
                        {
                        <td>@Html.DisplayFor(model => i.ProductId)</td>
                        <td>@Html.DisplayFor(model => i.Name)</td>
                        <td>@Html.DisplayFor(model => i.Price)</td>
                        <td>@Html.DisplayFor(model => i.ProductQuant)</td>

                        }
                        }
                        else 
                        {
                        <td>Please select location first.</td>
                         }
                    </tr>
                </tbody>
            </table>
            <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

